<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head.ejs"); %>
        <title>Index</title>
    </head>
    <body class="d-flex flex-column h-100">
        <header><%- include("./partials/header.ejs"); %></header>
        <div
            class="d-flex justify-content-center display-3"
            style="padding: 30px"
        >
            Desafio Framework!
        </div>
    </body>
</html>
