<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head.ejs"); %>
        <title>Posts</title>
    </head>
    <body>
        <header><%- include("./partials/header.ejs"); %></header>
        <main>
            <div class="container" style="padding: 30px">
                <%- include("./partials/table.ejs"); %>
                <div id="pagination-wrapper"></div>
            </div>
        </main>
    </body>
    <script src="/posts.js""></script>
</html>
