<nav
    class="navbar navbar-expand-lg navbar-light bg-light"
    style="margin-left: 30px"
>
    <a class="navbar-brand" href="/">Desafio Framework</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/posts">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/albums">Albums</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/todos">Todos</a>
        </li>
    </ul>
</nav>
